// ==========================================================================
// Content
// ==========================================================================

.site-main {
    @include container(768px);
    padding: 0 1em;
}
.hero__inner {
    background: url(../img/hero.jpg) center center no-repeat;
    background-size: cover;
    height: 50vh;
    @include mq(site) {
        height: 40vh;
    }
}
.content-area {
  margin-bottom: 3em;
}
.home .content-area {
  margin-bottom: 2.5em;
  @include mq(site) {
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}
.entry-title, .page-title {
    margin-top: 1em;
}
.page-id-20 .wpcmsdev-clear-floats {
    display: none;
}
.blog, .single-page, .single-post, .archive, .search {
  @include mq(tablet) {
    .content-area {
      @include span(8);
    }
    .widget-area {
      @include span(4);
    }
  }
}
.widget-area {
  margin-top: 3em;
}
.nav-previous {
  float: right;
}
