// ==========================================================================
// Content
// ==========================================================================

.site-main {
    @include container(768px);
    padding: 0 1em;
}
.hero__inner {
    background: url(../img/hero.jpg) center center no-repeat;
    background-size: cover;
    height: 50vh;
    @include mq(site) {
        height: 40vh;
    }
}
.home .content-area {
  margin-bottom: 2.5em;
  @include mq(site) {
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}
.entry-title {
    margin-top: 1em;
}
